<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']" (click)="reload()">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">Admin Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/orders']">Orders</button>
      <button mat-menu-item [routerLink]="['/addproduct']">Add Product</button>
      <button mat-menu-item [routerLink]="['/addcategory']">Add Category</button>
    </mat-menu>
  </mat-toolbar>
</header>
