* {
  box-sizing: border-box;
}
body {
    background-color: lightgrey;
}
div{
    padding-top: 30px;
}
img.goods{
 max-width: 400px
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.order {
    background-color: lightskyblue;
}
.price{
    font-weight: 800;
}
.products {
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
}
.sidenav {
  padding: 20px;
  padding-top: 50px;
  position: fixed;
  margin-top: 64px;
}
